/* Estilos generales para la página de login */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 22px;
    color: #333333;
    margin-bottom: 20px;
}

/* Estilos de los inputs y formularios */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666666;
}

.input-group input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
}

/* Links */
p {
    font-size: 14px;
    color: #666666;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Mensajes de error */
#error-message, #recover-error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Modal de recuperación de contraseña */
#recoverPasswordModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10;
}

#recoverPasswordModal h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

#recoverPasswordModal .input-group {
    margin-bottom: 15px;
}

#closeModal {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

#closeModal:hover {
    background-color: #c82333;
}
